<!-- About Page made with <3 by Jimwel Valdez (jimvdz). -->

<!-- Hero Section -->
<section class="about-hero relative h-screen">
    <img class="h-full w-full object-cover opacity-60" src="/assets/images/about-hero-image.jpg" alt="Image of a laptop, mouse, and chair">
    <div class="about-title absolute h-full w-full flex items-center justify-center top-0 text-center">
        <h1 class="font-body-medium lg:leading-loose my-auto text-quaternary">About Us:<br><span class="text-fifth">Behind the Code</span></h1>
    </div>
</section>

<!-- Mission -->
<section class="mission text-center flex flex-col items-center px-sm sm:px-xl md:px-3xl lg:px-xl mx-auto my-3xl">
    <div class="intro lg:px-xl 2xl:px-3xl">
        <span class="lead-light">LIVING UP TO OUR</span>
        <h1 class="text-quaternary leading-none mb-xl">MISSION</h1>
        <p class="text-quaternary mb-xl max-w-screen-lg">At Unite Web Development, we are passionate about crafting innovative, user-centric digital solutions that drive business growth. From responsive web design and intuitive UI/UX to impactful branding and marketing strategies, we bring your vision to life with precision and creativity. Based in Angeles City, Pampanga, we're committed to delivering high-quality, tailored web experiences that unite your brand with your audience.</p>
    </div>

    <!-- Mission blocks -->
    <div class="mission-blocks flex flex-col lg:flex-row gap-sm">
        <div class="mission-block">
            <img class="pb-2xs" src="/assets/icons/mission-1.svg" alt="Flash or lightning icon">
            <h4 class="text-heading-4 text-quaternary font-body-medium">INNOVATIVE WEB DEVELOPMENT</h4>
            <p class="text-quaternary">We specialize in developing custom websites that are not only visually appealing but also functionally robust. Our solutions are designed to scale and adapt, ensuring long-term success for your online presence.</p>
        </div>
        <div class="mission-block">
            <img  class="pb-2xs" src="/assets/icons/mission-2.svg" alt="Idea or light icon">
            <h4 class="text-heading-4 text-quaternary font-body-medium">BRANDING & DESIGN EXCELLENCE</h4>
            <p class="text-quaternary">Your brand's identity is crucial to its success. At Unite, we believe in creating unique, memorable brand experiences that resonate with your target audience, from logo design to complete branding packages and marketing strategies.</p>
        </div>
        <div class="mission-block">
            <img class="pb-2xs" src="/assets/icons/mission-3.svg" alt="Handshake icon">
            <h4 class="text-heading-4 text-quaternary font-body-medium">CLIENT COLLABORATION</h4>
            <p class="text-quaternary">We are dedicated to building strong, lasting relationships with our clients. We understand the importance of communication and collaboration, ensuring every project is aligned with your goals, values, and needs.</p>
        </div>
    </div>
</section>

<!-- Vision -->
<section class="vision w-full h-full bg-cover bg-center bg-no-repeat py-3xl px-sm sm:px-xl md:px-3xl text-center" style="background-image: url('/assets/images/vision-image.jpg');">
    <div class="vision-content bg-quaternary h-full rounded-lg p-xl max-w-screen-xl mx-auto">
        <span class="lead-dark">REALIZING OUR</span>
        <h1 class="text-primary leading-none mb-xl">VISION</h1>
        <p class="text-primary">Our vision is to become the leading digital partner for businesses across the Philippines and beyond, empowering them to thrive in an ever-evolving online world. We aim to transform how brands connect with their audiences through innovative, user-friendly websites and creative, impactful digital experiences. By consistently pushing the boundaries of design and technology, we strive to create solutions that not only meet today's needs but anticipate tomorrow's opportunities. Our goal is to build long- lasting relationships with our clients, enabling their growth, success, and continued evolution in the digital landscape. We are committed to fostering a culture of collaboration, creativity, and excellence, as we lead the way in shaping the future of web development and digital branding.</p>
    </div>
</section>

<!-- Meet the Team -->
<section class="meet-the-team py-3xl px-sm sm:px-xl md:px-3xl">
    <h1 class="text-quaternary text-center leading-none mb-xl">MEET THE <span class="text-fifth">TEAM</span></h1>

    <!-- Profiles -->
    <!-- Every profile iterates by using Angular directives such as ngFor, ngIf, and ngIfElse. -->
    <div class="profiles">

        <div *ngFor="let person of people; let i = index" class="profile ">

            <div class="profile-head">
                <img class="rounded-full w-3xl md:mr-lg" src="{{ person.imageUrl }}" alt="Profile photo of {{ person.name }}">
                <div class="profile-intro">
                    <h4 class="text-heading-4 text-quaternary font-body-medium name">{{ person.name }}</h4>
                    <p class="text-quaternary opacity-70">{{ person.title }}</p>
                </div>
                <div class="profile-addtl">
                    <div class="profile-links flex flex-row gap-1">
                        <a href="https://github.com/{{ person.github }}" target="_blank"><img src="/assets/icons/about-github.svg" alt="GitHub icon"></a>
                        <a href="https://linkedin.com/in/{{ person.linkedin }}" target="_blank"><img src="/assets/icons/about-linkedin.svg" alt="LinkedIn icon"></a>
                        <a href="mailto:{{ person.profileInfo[3].detail }}" target="_blank"><img src="/assets/icons/about-email.svg" alt="Email icon"></a>
                    </div>

                    <!-- If more details is clicked, it will change the isDetailsShown status of the person to true -->
                    <button *ngIf="!person.isDetailsShown" (click)="people[i].isDetailsShown = !people[i].isDetailsShown" class="btn-outlined pr-4 w-40">
                        <div class="btn-content-arrow">
                            <span>More Details</span>
                            <img src="/assets/icons/arrow-down.svg" alt="Arrow down">
                        </div>
                    </button>
                </div>
            </div>

            <!-- These details will show if the user clicked on More Details -->
            <div *ngIf="person.isDetailsShown" class="profile-body pt-lg grid grid-row-6 grid-flow-row md:grid-cols-2 md:grid-rows-3 md:grid-flow-col gap-md">
                <div *ngFor="let info of person.profileInfo" class="profile-info">
                    <p class="profile-label text-quaternary opacity-70">{{ info.label }}</p>
                    <p class="profile-detail text-quaternary">{{ info.detail }}</p>
                </div>
            </div>

            <button *ngIf="person.isDetailsShown" (click)="people[i].isDetailsShown = !people[i].isDetailsShown" class="btn-outlined pr-4 w-40 mt-md mr-auto md:mr-0 ml-auto block">
                <div class="btn-content-arrow">
                    <span>See Less</span>
                    <img src="/assets/icons/arrow-up.svg" alt="Arrow up">
                </div>
            </button>
        </div>
    </div>
</section>