<!-- About Page made with <3 by Jimwel Valdez (jimvdz). -->

<!-- Hero Section -->
<section class="about-hero relative h-screen">
    <img class="h-full w-full object-cover opacity-60" src="/assets/images/about-hero-image.jpg" alt="Image of a laptop, mouse, and chair">
    <div class="about-title absolute h-full w-full flex items-center justify-center top-0 text-center">
        <h1 class="font-body-medium my-auto text-quaternary">About Us:<br><span class="text-fifth">Behind the Code</span></h1>
    </div>
</section>

<!-- Mission -->
<section class="mission text-center flex flex-col items-center px-sm sm:px-xl md:px-3xl lg:px-xl mx-auto my-3xl">
    <div class="intro lg:px-xl 2xl:px-3xl">
        <span class="lead-light">LIVING UP TO OUR</span>
        <h1 class="text-quaternary leading-none mb-xl">MISSION</h1>
        <p class="text-quaternary mb-xl">At Unite Web Development, we are passionate about crafting innovative, user-centric digital solutions that drive business growth. From responsive web design and intuitive UI/UX to impactful branding and marketing strategies, we bring your vision to life with precision and creativity. Based in Angeles City, Pampanga, we're committed to delivering high-quality, tailored web experiences that unite your brand with your audience.</p>
    </div>

    <!-- Mission blocks -->
    <div class="mission-blocks flex flex-col lg:flex-row gap-sm">
        <div class="mission-block">
            <img class="pb-2xs" src="/assets/icons/mission-1.svg" alt="Flash or lightning icon">
            <h4 class="text-heading-4 text-quaternary font-body-medium">INNOVATIVE WEB DEVELOPMENT</h4>
            <p class="text-quaternary">We specialize in developing custom websites that are not only visually appealing but also functionally robust. Our solutions are designed to scale and adapt, ensuring long-term success for your online presence.</p>
        </div>
        <div class="mission-block">
            <img  class="pb-2xs" src="/assets/icons/mission-2.svg" alt="Idea or light icon">
            <h4 class="text-heading-4 text-quaternary font-body-medium">BRANDING & DESIGN EXCELLENCE</h4>
            <p class="text-quaternary">Your brand's identity is crucial to its success. At Unite, we believe in creating unique, memorable brand experiences that resonate with your target audience, from logo design to complete branding packages and marketing strategies.</p>
        </div>
        <div class="mission-block">
            <img class="pb-2xs" src="/assets/icons/mission-1.svg" alt="Handshake icon">
            <h4 class="text-heading-4 text-quaternary font-body-medium">CLIENT COLLABORATION</h4>
            <p class="text-quaternary">We are dedicated to building strong, lasting relationships with our clients. We understand the importance of communication and collaboration, ensuring every project is aligned with your goals, values, and needs.</p>
        </div>
    </div>
</section>

<!-- Vision -->
<section class="vision w-full h-full bg-cover bg-center bg-no-repeat py-3xl px-sm sm:px-xl md:px-3xl text-center" style="background-image: url('/assets/images/vision-image.jpg');">
    <div class="vision-content bg-quaternary h-full rounded-lg p-xl">
        <span class="lead-dark">REALIZING OUR</span>
        <h1 class="text-primary leading-none mb-xl">VISION</h1>
        <p class="text-primary">Our vision is to become the leading digital partner for businesses across the Philippines and beyond, empowering them to thrive in an ever-evolving online world. We aim to transform how brands connect with their audiences through innovative, user-friendly websites and creative, impactful digital experiences. By consistently pushing the boundaries of design and technology, we strive to create solutions that not only meet today's needs but anticipate tomorrow's opportunities. Our goal is to build long- lasting relationships with our clients, enabling their growth, success, and continued evolution in the digital landscape. We are committed to fostering a culture of collaboration, creativity, and excellence, as we lead the way in shaping the future of web development and digital branding.</p>
    </div>
</section>

<!-- Meet the Team -->
<section class="meet-the-team py-3xl px-sm sm:px-xl md:px-3xl">
    <h1 class="text-quaternary text-center leading-none mb-xl">MEET THE <span class="text-fifth">TEAM</span></h1>

    <!-- Profiles -->
    <div class="profiles">

        <!-- Profile 1 -->
        <div class="profile">
            <div class="profile-head">
                <img class="rounded-full w-3xl md:mr-lg" src="/assets/images/placeholder-hanni.webp" alt="Profile photo of Hanni">
                <div class="profile-intro">
                    <h4 class="text-heading-4 text-quaternary font-body-medium name">LUIS MIGUEL CAYANAN</h4>
                    <p class="text-quaternary opacity-70">Front-End Developer</p>
                </div>
                <div class="profile-addtl">
                    <div class="profile-links flex flex-row gap-1">
                        <a href="https://github.com" target="_blank"><img src="/assets/icons/about-github.svg" alt="GitHub icon"></a>
                        <a href="https://linkedin.com" target="_blank"><img src="/assets/icons/about-linkedin.svg" alt="LinkedIn icon"></a>
                        <a href="mailto:example@example.com" target="_blank"><img src="/assets/icons/about-email.svg" alt="Email icon"></a>
                    </div>
                    <button class="btn-outlined pr-4 w-40">
                        <div class="btn-content-arrow">
                            <span>More Details</span>
                            <img src="/assets/icons/arrow-down.svg" alt="Arrow down">
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Profile 2 -->
        <div class="profile">
            <div class="profile-head">
                <img class="rounded-full w-3xl md:mr-lg" src="/assets/images/placeholder-hanni.webp" alt="Profile photo of Hanni">
                <div class="profile-intro">
                    <h4 class="text-heading-4 text-quaternary font-body-medium name">LUIS MIGUEL CAYANAN</h4>
                    <p class="text-quaternary opacity-70">Front-End Developer</p>
                </div>
                <div class="profile-addtl">
                    <div class="profile-links flex flex-row gap-1">
                        <a href="https://github.com" target="_blank"><img src="/assets/icons/about-github.svg" alt="GitHub icon"></a>
                        <a href="https://linkedin.com" target="_blank"><img src="/assets/icons/about-linkedin.svg" alt="LinkedIn icon"></a>
                        <a href="mailto:example@example.com" target="_blank"><img src="/assets/icons/about-email.svg" alt="Email icon"></a>
                    </div>
                    <button class="btn-outlined pr-4 w-40">
                        <div class="btn-content-arrow">
                            <span>More Details</span>
                            <img src="/assets/icons/arrow-down.svg" alt="Arrow down">
                        </div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Profile 3 -->
        <div class="profile">

            <div class="profile-head">
                <img class="rounded-full w-3xl md:mr-lg" src="/assets/images/placeholder-hanni.webp" alt="Profile photo of Hanni">
                <div class="profile-intro">
                    <h4 class="text-heading-4 text-quaternary font-body-medium name">JIMWEL VALDEZ</h4>
                    <p class="text-quaternary opacity-70">Front-End Developer</p>
                </div>
                <div class="profile-addtl">
                    <div class="profile-links flex flex-row gap-1">
                        <a href="https://github.com" target="_blank"><img src="/assets/icons/about-github.svg" alt="GitHub icon"></a>
                        <a href="https://linkedin.com" target="_blank"><img src="/assets/icons/about-linkedin.svg" alt="LinkedIn icon"></a>
                        <a href="mailto:example@example.com" target="_blank"><img src="/assets/icons/about-email.svg" alt="Email icon"></a>
                    </div>
                    <button class="btn-outlined hidden pr-4 w-40">
                        <div class="btn-content-arrow">
                            <span>More Details</span>
                            <img src="/assets/icons/arrow-down.svg" alt="Arrow down">
                        </div>
                    </button>
                </div>
            </div>

            <div class="profile-body pt-lg grid grid-cols-2 grid-rows-3 grid-flow-col gap-md">
                <div class="profile-info">
                    <p class="profile-label text-quaternary opacity-70">Employee Number</p>
                    <p class="profile-detail text-quaternary">20902252</p>
                </div>

                <div class="profile-info">
                    <p class="profile-label text-quaternary opacity-70">Full Name</p>
                    <p class="profile-detail text-quaternary">Jimwel Losito Valdez</p>
                </div>

                <div class="profile-info">
                    <p class="profile-label text-quaternary opacity-70">Gender</p>
                    <p class="profile-detail text-quaternary">Male</p>
                </div>

                <div class="profile-info">
                    <p class="profile-label text-quaternary opacity-70">Email</p>
                    <p class="profile-detail text-quaternary">jimvdz&#64;protonmail.com</p>
                </div>

                <div class="profile-info">
                    <p class="profile-label text-quaternary opacity-70">Employment Status</p>
                    <p class="profile-detail text-quaternary">Student and Single</p>
                </div>

                <div class="profile-info">
                    <p class="profile-label text-quaternary opacity-70">Salary</p>
                    <p class="profile-detail text-quaternary">PHP 123,456.00 per month</p>
                </div>
            </div>
            <button class="btn-outlined pr-4 w-40 mt-md ml-auto block">
                <div class="btn-content-arrow">
                    <span>See Less</span>
                    <img src="/assets/icons/arrow-up.svg" alt="Arrow up">
                </div>
            </button>
        </div>
    </div>
</section>