<main>
  <section class="contact-section pt-3xl p-lg text-quaternary">
    <div class="contact-header md:flex md:gap-5">
      <p class="text-gray-500 text-center leading-none text-2xl md:w-1/2 md:text-start">Your vision, our code<br />
        <span
          class="text-fifth uppercase text-center text-heading-1 font-title md:text-start"
        >
          Let's unite?
        </span>
      </p>

      <h4
        class="text-heading-4 uppercase leading-6 pt-sm text-center md:w-1/2 md:text-start md:pt-0"
      >
        Collaboration begins with connection. Let’s explore how we can support
        your success with innovative solutions.
      </h4>
    </div>

    <div
      class="form-section mt-10 rounded-lg w-full md:flex md:justify-between gap-10"
    >
      <form class="flex flex-col gap-5 md:w-1/2">
        <div>
          <input
            type="text"
            id="name"
            class="w-full border-b-2 border-white-100 bg-transparent text-tertiary focus:outline-none focus:border-fifth pb-2"
            placeholder="NAME"
          />
        </div>

        <div>
          <input
            type="text"
            id="service"
            class="w-full border-b-2 border-white-100 bg-transparent text-tertiary focus:outline-none focus:border-fifth pb-2"
            placeholder="SERVICE"
          />
        </div>

        <div>
          <input
            type="text"
            id="contact-number"
            class="w-full border-b-2 border-white-100 bg-transparent text-tertiary focus:outline-none focus:border-fifth pb-2"
            placeholder="CONTACT NUMBER"
          />
        </div>

        <div>
          <input
            type="email"
            id="email"
            class="w-full border-b-2 border-white-100 bg-transparent text-tertiary focus:outline-none focus:border-fifth pb-2"
            placeholder="EMAIL"
          />
        </div>

        <div>
          <textarea
            id="message"
            class="w-full border-b-2 border-white-100 bg-transparent text-tertiary focus:outline-none focus:border-fifth pb-2"
            placeholder="MESSAGE"
          ></textarea>
        </div>

        <button
          type="submit"
          class="w-1/2 bg-white text-gray-900 uppercase py-2 rounded-lg hover:bg-gray-200 mt-9"
        >
          Connect
        </button>
      </form>
      <div class="hidden md:block w-1/2">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3851.459702233643!2d120.5874360744588!3d15.13307798541877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3396f24ec2f5a1f9%3A0x5e0af8a6aaab2282!2sHoly%20Angel%20University!5e0!3m2!1sen!2sph!4v1735624070622!5m2!1sen!2sph"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-full"
        ></iframe>
      </div>
    </div>
  </section>
</main>
