<!-- 404 Error Page made with <3 by Jimwel Valdez (jimvdz) -->

<section class="pagenotfound text-center my-2xl mx-md">
    <span class="lead-light">ERROR CODE</span>
    <h1 class="text-white leading-none mb-lg">404</h1>
    <h1 class="text-quaternary leading-tight">THIS PAGE MIGHT BE LOST,</h1>
    <h1 class="text-fifth leading-tight mb-lg">BUT WE'RE NOT</h1>
    <p class="text-white">It seems like the page you're looking for has gone off the grid, but don't worry—we're experts at bringing things back together.</p>
    <p class="text-white mb-md">While we work on finding this page, let's get you back on track.</p>
    <a routerLink="/">
        <button class="btn-outlined max-w-xs mb-md">
            <div class="btn-content-arrow">
                <span>Go to our Homepage</span>
                <img src="/assets/icons/arrow-right.svg" alt="Right arrow">
            </div>
        </button>
    </a>
    <p class="text-white">At Unite, we know how to get things back in sync. If you need anything, we've got your back. Let's create something great together!</p>
</section>