<!-- Hero Section -->
<main>
  <section class="relative">
    <div class="absolute h-screen w-screen bg-primary opacity-50"></div>
    <img
      class="h-screen w-screen object-cover"
      src="services-hero.webp"
      alt="Services Hero Image"
    />

    <div
      class="about-title absolute h-full w-full flex items-center justify-center top-0 text-center"
    >
      <h1 class="font-body-medium lg:leading-loose my-auto text-quaternary">
        Create. Optimize. Thrive.<br /><span class="text-fifth"
          >Your Journey Starts Here.</span
        >
      </h1>
    </div>
  </section>

  <section
    class="services-frontend-container grid grid-cols-12 p-3xl text-quaternary gap-6"
  >
    <div class="large-image col-span-4">
      <img
        src="services-frontend-1.webp"
        alt="Services Frontend Image 1"
        class="h-screen object-cover"
      />
      <h5></h5>

      <h4 class="text-heading-4 uppercase leading-6 pt-sm">
        Our focus is to create fast and reliable frontends that ensure a smooth
        user journey across all devices.
      </h4>
    </div>

    <div class="col-span-8">
      <div class="frontend-service-header mb-sm">
        <h1 class="uppercase leading-none">
          <span class="text-fifth">Craft Dynamic experience</span><br />modern
          Frontend solutions.
        </h1>
      </div>

      <div class="frontend-service-content flex gap-6">
        <div class="left w-1/2">
          <img
            src="services-frontend-2.webp"
            alt="Services Frontend Image 2"
            class="w-full object-cover"
          />
          <h3 class="text-heading-3 font-title uppercase leading-none mt-4">
            Frontend Development<br /><span class="text-fifth">$4,999.00</span>
          </h3>
          <div
            class="flex justify-between items-center border border-quaternary border-solid rounded-lg py-2xs px-sm mt-20"
          >
            <a routerLink="/contact" class="text-base font-medium font-body"
              >Book Now</a
            >
            <a routerLink="/contact"
              ><i class="ri-arrow-right-line text-xl"></i
            ></a>
          </div>
        </div>
        <div class="right w-1/2">
          <p>
            We develop modern, interactive user interfaces that are visually
            appealing and highly functional. Our focus is on creating responsive
            designs that adapt seamlessly to any device, ensuring an exceptional
            user experience. Using the latest technologies, we bring your ideas
            to life with speed, precision, and scalability.
          </p>
          <img
            src="services-frontend-3.webp"
            alt="Services Frontend Image 3"
            class="w-full object-cover mt-6"
          />
        </div>
      </div>
    </div>
  </section>

  <section
    class="services-web-design-container grid grid-cols-12 p-3xl pt-0 text-quaternary gap-6"
  >
    <div class="web-design-left col-span-4">
      <h1 class="uppercase leading-none mb-sm">
        <span class="text-fifth">Inspiring Vision</span><br />Crafted Harmony
      </h1>
      <p>
        We create custom, user-friendly website designs that reflect your
        brand’s personality and goals. By combining creativity with
        functionality, we ensure your site captivates visitors and delivers a
        seamless navigation experience. From layouts to visuals, every element
        is tailored to leave a lasting impression on your audience.
      </p>
      <img
        src="services-web-design-1.webp"
        alt="Web Design Service 1"
        class="w-full object-cover mt-6"
      />
    </div>

    <div class="web-design-center col-span-4 flex flex-col justify-end">
      <h3 class="text-heading-3 font-title uppercase leading-none mt-4">
        Web Designing<br /><span class="text-fifth">$1,999.00</span>
      </h3>
      <div
        class="flex justify-between items-center border border-quaternary border-solid rounded-lg py-2xs px-sm mt-20"
      >
        <a routerLink="/contact" class="text-base font-medium font-body"
          >Book Now</a
        >
        <a routerLink="/contact"><i class="ri-arrow-right-line text-xl"></i></a>
      </div>
    </div>

    <div class="web-design-right col-span-4">
      <img
        src="services-web-design-2.webp"
        alt="Web Design Service 2"
        class="w-full object-cover"
      />
      <img
        src="services-web-design-3.webp"
        alt="Web Design Service 3"
        class="w-full object-cover mt-md"
      />
    </div>

    <div class="web-design-bottom col-start-9 col-span-4">
      <h4 class="text-heading-4 uppercase leading-6">
        Our aim is to create stunning designs that not only captivate users but
        also drive meaningful engagement.
      </h4>
    </div>
  </section>

  <section
    class="services-seo-container grid grid-cols-12 p-3xl pt-0 text-quaternary gap-6"
  >
    <div class="seo-header col-span-12 grid grid-cols-12">
      <h4 class="text-heading-4 uppercase leading-6 col-span-4">
        Our aim is to create stunning designs that not only captivate users but
        also drive meaningful engagement.
      </h4>
      <h1 class="uppercase leading-none ml-52 max-md:ml-0 col-span-8">
        <span class="text-fifth">Craft Dynamic experience</span><br />modern
        Frontend solutions.
      </h1>
    </div>

    <div class="seo-img-left col-span-4">
      <img
        src="services-seo-1.webp"
        alt="Seo Service 1"
        class="h-screen object-cover"
      />
    </div>

    <div class="seo-center col-span-4">
      <img
        src="services-seo-2.webp"
        alt="Seo Service 2"
        class="w-full mb-sm object-cover"
      />
      <p>
        We optimize your website to improve search engine rankings, increase
        visibility, and enhance user satisfaction. Our strategies include
        keyword research, technical improvements, and performance optimization
        to drive organic traffic. With faster loading times and better
        accessibility, your website will stand out in a competitive online
        market.
      </p>

      <div class="web-design-center col-span-4 flex flex-col justify-end">
        <h3 class="text-heading-3 font-title uppercase leading-none mt-4">
          Web Designing<br /><span class="text-fifth">$1,999.00</span>
        </h3>
        <div
          class="flex justify-between items-center border border-quaternary border-solid rounded-lg py-2xs px-sm mt-20"
        >
          <a routerLink="/contact" class="text-base font-medium font-body"
            >Book Now</a
          >
          <a routerLink="/contact"
            ><i class="ri-arrow-right-line text-xl"></i
          ></a>
        </div>
      </div>
    </div>

    <div class="seo-img-right col-span-4">
      <img
        src="services-seo-3.webp"
        alt="Seo Service 1"
        class="h-screen object-cover"
      />
    </div>
  </section>
</main>
