@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DB';
    src: url('./assets/fonts/Druk-Bold-Trial.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NB';
    src: url('./assets/fonts/NeueMontreal-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NM';
    src: url('./assets/fonts/NeueMontreal-Medium.woff2') format('woff2');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'NMI';
    src: url('./assets/fonts/NeueMontreal-MediumItalic.woff2') format('woff2');
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'NR';
    src: url('./assets/fonts/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    h1 {
        @apply font-title text-heading-1;   
    }
    h2 {
        @apply font-title text-heading-2;
    }
    p {
        @apply font-body;
    }
}

@layer components {
    .lead-light {
        @apply font-body text-base-small text-quaternary;
    }
    .lead-dark {
        @apply font-body text-base-small text-primary;
    }

    .btn-outlined {
        @apply border border-white rounded-full w-full py-2 px-6;
    }

    .btn-content-arrow {
        @apply flex flex-row justify-between items-center text-white font-body text-base;
    }

    .mission-block {
        @apply bg-secondary rounded-lg flex flex-col items-center px-sm py-md gap-sm;
    }
}

:root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --title: 'DB', sans-serif;
    --body: 'NR', sans-serif;
    --body-bold: 'NB', sans-serif;
    --body-medium: 'NM', sans-serif;
    --body-medium-italic: 'NMI', sans-serif;
}


