<main class="">
    <section>
        <p>hero</p>
    </section>

    <section class="text-tertiary font-title mx-auto leading-none px-xs md:px-sm lg:px-xl lg:max-w-7xl ">
        <div class="flex flex-col justify-center items-center">

            <div class="flex items-start gap-sm">
                <span class="text-opacity-60 text-tertiary text-2xl md:pt-1 lg:pt-3xs">AGENCY</span>
                <h1 class="text-fifth">UNITE WEB DEVELOPMENT</h1>
            </div>

            <div class="flex items-start gap-sm">
                <span class="text-opacity-60 text-tertiary text-2xl md:pt-1 lg:pt-3xs">SERVICES</span>
                <div class="flex flex-wrap text-tertiary gap-x-md leading-none">
                    <h1 class="">BRANDING</h1>
                    <h1 class="">MARKETING</h1>
                    <h1 class="">UI/UX</h1>
                    <h1 class="">RESPONSIVE DESIGN</h1>
                    <h1 class="">GRAPHIC DESIGN</h1>
                    <div class="flex items-start gap-sm">
                        <span class="text-opacity-60 text-tertiary text-2xl md:pt-1 lg:pt-3xs">LOCATION</span>
                        <h1 class="text-tertiary">ANGELES CITY</h1>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="grid-style px-xs md:px-sm lg:px-xl">
        <p>other section</p>
    </section>

    <section class="grid-style px-xs md:px-sm lg:px-xl">
        <p>other section</p>
    </section>

    <section class="grid-style px-xs md:px-sm lg:px-xl">
        <p>other section</p>
    </section>
</main>